.base-layer {
    width: 80%;
    height: 72px;
    margin: 0 auto;

    &.bottom-layer {
        border-radius: 5% 5% 10% 10%;
    }
    &.middle-layer {
        border-radius: 5% 5% 0% 0%;
    }
    &.top-layer {
        border-radius: 20% 20% 0% 0%;
    }
}